@charset "UTF-8";
html {
	color:#1a1a1a;
	overflow-y:scroll;
	-webkit-text-size-adjust: none;
}
/*==================================================*/
/*  $Common                                         */
/*  Set commonly occuring declarations here         */
/*==================================================*/
.wrapper {
	margin:0 auto;
	width:940px;
	padding:10px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.nomargin {
	margin:0;
}
.box {
	padding:20px;
	margin-bottom:1.5em;
}
.box:last-child {
	margin-bottom:0px;
}
h1,h2,h3,h4,h5,h6,ul,ol,dl,p,blockquote,address,figure,pre,fieldset,table,hr {
	margin-bottom:1.5em;
}
/*==================================================*/
/*  $Clearfix                                       */
/*==================================================*/
/*== Uses Nicholas Gallagher's method ==*/
/*== http://nicolasgallagher.com/micro-clearfix-hack/ ==*/
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}
hr {
	border:0;
	border-top:1px solid #bbb;
	border-bottom:1px solid #fff;
	clear:both;
	display:block;
}
blockquote {
	padding-left:24px;
	border-left:5px solid #bbb;
}
blockquote p {
	margin:0;
}
blockquote footer,
blockquote small {
	font-style:italic;
	display:block;
	font-size:0.75em;
	text-indent:0.5em;
	color:#bbb;	
}
blockquote footer:before,
blockquote small:before {
	content:"\2014 \00A0";
}
/*== Links ==*/
a,a:link {
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	text-decoration:underline;
}
a:visited {
	color:red;
}
/*== Selection ==*/
::selection {
	color:white;
	background:red;
}
::-moz-selection {
	color:white;
	background:red;
}
a::selection {
/* Set to same colour as your a{color} */
}
a::-moz-selection {
/* Set to same colour as your a{color} */
}
/*==================================================*/
/*  $Lists - ol,ul,dl                               */
/*==================================================*/
ul,ol {
/* margin-bottom set in $Common */
}
ul ul,ul ol,ol ol,ol ul {
	margin:0 0 0 40px;
}
ol {
	list-style:decimal outside;
}
ol ol {
	list-style:lower-alpha outside;
}
ul {
	list-style:block outside;
}
dl {
/* margin-bottom set in $Common */	
}
dt {
	font-weight:bold;
}
dt:after{
	content:":";
}
dt::after{
	content:":";
}
dd {
	margin:0 0 0 40px;
}
/*==================================================*/
/*  $Menu                                           */
/*==================================================*/
/*== Horizontal Menu ==*/
/*== Apply class="horizontal" to your menu ul eg: <ul class="horizontal"> ==*/
.horizontal {
	overflow:hidden;
	list-style:none;
	margin:0 0 1.5em 0;	
	border-top:1px solid #bbb;
	border-bottom:1px solid #bbb;	
}
.horizontal li {
	float:left;
}
.horizontal li a {
	padding:5px;
	display:block;
}
/*== Horizontally Centered Menu ==*/
/*== Apply class="centered" to your menu ul eg: <ul class="centered"> ==*/
.centered {
	list-style:none;
	text-align:center;
	border-top:1px solid #bbb;
	border-bottom:1px solid #bbb;	
}
.centered li {
	display:inline;
}
.centered li a {
	display:inline-block;
	padding:5px;
}
/*== Vertical Menu ==*/
/*== Apply class="vertical" to your menu ul eg: <ul class="vertical"> ==*/
.vertical {
	overflow:hidden;
	list-style:none;
	margin:0 0 1.5em 0;
}
.vertical li {
	line-height:1.5em;
	border-bottom:1px solid #bbb;
}
.vertical li a {
	padding:5px;
	display:block;
}
.vertical li:last-child {
	border:none;
}
/*==================================================*/
/*  $Images                                         */
/*==================================================*/
img {
	max-width:100%;
	height:auto;
	font-style:italic;
}
embed,object,video {
	max-width:100%;
	height:auto;
}
