body {
    font-size: 17px;
    line-height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background:#CB0004;
}
article {
    max-width: 944px;
    margin: auto;
}
h1 {
    font-size: 132px;
    line-height: 150px;
    margin-top: 30px;
    margin-bottom: 60px;
}
h2 {
    font-size: 47px;
    line-height: 60px;
    margin-top: 60px;
    margin-bottom: 30px;
}
h2 a{
  color:#000 !important;
}
h2 a:hover{
  color:#CB0004 !important;
  text-decoration:none;
}
a{
  color:#CB0004;
  font-weight:bold;
}
h3 {
    font-size: 28px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
}
p, ul {
    margin-top: 0px;
    margin-bottom: 30px;
}
small, aside {
    font-size: 10px;
}
#aboutme{
  margin-top:80px;
}
#main{
  background:#EDEDED;
  padding-bottom:140px;
}
#footer{
  margin:20px 0;
}
#footer_links a{
  color:#fff;
  font-weight:normal;
}
pre code{
  border: 1px solid #E0E0E0;
}
