<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>alexcp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Alexcp Developer from montreal">
    <meta name="author" content="Alexandre Croteau-Pothier">

    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

    <!-- The 1140px Grid - http://cssgrid.net/ -->
    <link rel="stylesheet" href="/css/1140.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/cabin.css" type="text/css" media="screen" />
    <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
    <script type="text/javascript" src="/js/css3-mediaqueries.js"></script>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/prettify.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body onload="prettyPrint()" >
    <div id="main" class="container">
      <div class="row">
        <h1><a href="/"><img src="/img/alexcp_web_developer_from_montreal_ruby_rails.png" alt="alexcp web developer from montreal ruby" /></a></h1>
      </div>
      <div class="row">
        <a href="/">Blog</a>
        <a href="/about_me.html">About Me</a>
      </div>
      <div class="row">
        {{content}}
      </div>
    </div>
    <div id="footer" class="container">
      <div  class="row">
        <div class="ninecol">
          <img src="/img/alexcpfoot.png" />
        </div>
        <div id="footer_links" class="threecol last">
          <a  href="mailto:alexcp.com@gmail.com">E-Mail</a>
          <a  href="https://github.com/alexcp">Github</a>
          <a  href="https://twitter.com/#!/AlexCP_">Twitter</a>
        </div>
      </div>
    </div>
    <script src="/js/prettify.js"></script>
  </body>
</html>
