<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AlexCP = Alexandre Croteau-Pothier a Montreal based developper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Alexandre Croteau-Pothier a Montreal based developper">
    <meta name="author" content="Alexandre Croteau-Pothier">
    {% stylesheet app %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrap">
    <div class="container">

      <div id="header" class="row">
        <div class="span2">
          <a href="/">
            <img src="http://s3.amazonaws.com/alexcp/img/alexcp_web_developer_from_montreal_ruby_rails.png" alt="alexcp web developer from montreal ruby" width="177" height="66" />
          </a>
        </div>

        <br />
        <ul class="nav nav-pills offset6">
          <li><a href="/">Blog</a></li>
          <li><a href="/about_me.html">About Me</a></li>
        </ul>
      <hr />
      </div>


      <div class="row">
        {{content}}
      </div>

    </div>
    <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <div id="row">
          <p class="muted credit">Reach me by <a href="mailto:alexcp.com@gmail.com">E-Mail</a>, Find me on <a href="https://github.com/alexcp">Github</a> or Follow me on <a href="https://twitter.com/#!/AlexCP_">Twitter</a> 
           &#169; Alexandre Croteau-Pothier 2013</p>
        </div>
      </div>
    </div>

  </body>
  {% javascript app %}
</html>
